<div class="blog-river">
    <a href="<%- feedUrl %>"><img src="/img/rss_button.gif" align="right" width="50"/></a>
    <%
    for (var docno = 0; docno < documents.length; docno++) {
        var doc = documents[docno];
        %>
        <div class="blog-item">
            <!-- add teaser thumbnail -->
            <a href="/<%= doc.renderPath %>"><h3><%= doc.docMetadata.title %></h3></a>
            <% if (doc.docMetadata.teaser) { %>
                <p><%= doc.docMetadata.teaser %></p>
            <% } %>
            <%
            // if (doc.docMetadata.videoUrls) {
            //     % ><a href="/< %= doc.renderPath % >">
            //         <h3>< %= doc.docMetadata.title % ></h3>
            //         <youtube-thumbnail href="< %= doc.docMetadata.videoUrls[0].url % >" title="< %= doc.docMetadata.title % >"></youtube-thumbnail>
            //     </a>< %
            // } else {
            //     % ><a href="/< %= doc.renderPath % >"><h3>< %= doc.docMetadata.title % ></h3></a>< %
            // }
            %>
        </div>
        <%
    }
    %>
</div>
